@media (max-height: 980px){
    .book-modal{
        padding: 30px 48px 40px;
    }
    .book-modal .help{
        margin-bottom: 10px;
    }
    .book-modal .book-modal_title{
        margin-bottom: 12px;
    }
    .book-modal .description{
        height: 150px;
    }
    .book-modal .book-modal_form{
        row-gap: 12px;
    }
}

@media (max-height: 780px){
    .book-modal{
        padding: 20px 40px 30px;
    }
    .book-modal .book-modal_title{
        font-size: 40px;
        line-height: 40px;
    }
    .book-modal .help {
        margin-bottom: 0px;
    }
    .book-modal .description {
        height: 120px;
    }
}


@media(max-width: 1360px){
    .header .search-input{
        max-width: 145px;
    }
    .header .nav-item+.nav-item{
        margin-left: 18px;
    }
    .header-location span:last-of-type{
        margin-left: 4px;
        margin-right: 2px;
    }
    .header-delimiter{
        margin-right: 8px;
        margin-left: 6px;
    }
    .header-worktime-drop>img {
        margin-left: 2px;
    }
}

@media(max-width: 1240px){
    .special-events .special-events-wrap .card-wrap{
        padding: 30px 20px 50px 64px;
    }
}


@media(max-width: 1200px){
    //header 
    .header-wrap .nav-item a{
        font-size: 12px;
    }
    .header-wrap .nav-item+.nav-item{
        margin-left: 8px
    }
    .header-wrap .nav-item{
        display: flex;
        align-items: center;
    }
    .header-wrap .search{
        margin-left: 10px;
    }
    .header-top{
        padding: 0 20px 0 190px;
    }
    .header-bottom{
        height: 60px;
        padding: 0 20px 0 190px
    }
    .header-location{
        font-size: 11px;
        align-items: center;
    }
    .header-worktime{
        font-size: 11px;
    }
    .header-wrap .logo-wrap img{
        width: 90px;
    }
    .header-wrap .logo{
        width: 230px;
        padding: 22px 68px 70px 68px;
    }
    // .header-location span:first-of-type{
    //     display: none;
    // }
    .header-wrap .menu-item-header a{
        font-size: 14px;
    }

    .header-wrap .booking .drop-list{
        right: 20px;
    }
    ////entertainments


    .entertainments .entertainments-header{
        font-size: 44px;
    }
    .entertainments .entertainments-subheader{
        font-size: 22px;
    }

    .entertainment-details .main-card{
        height: calc(445.58 / 1200 * 100vw);
        padding: calc(59 / 1200 * 100vw) 0px calc(56 / 1200 * 100vw) 0px;
        left: calc(68 / 1200 * 100vw);
        border-radius: calc(15.5237 / 1200 * 100vw);

        top: calc(37 / 1200 * 100vw);
    }
    .entertainment-details .main-card-x{
        width: calc(135 / 1200 * 100vw);
        margin-bottom: calc(22.5 / 1200 * 100vw);
    }
    .entertainment-details .main-card-text{
        font-size: calc(74.5136 / 1200 * 100vw);
        line-height: calc(39 / 1200 * 100vw);
        margin-bottom: calc(51/ 1200 * 100vw);
        
    }
    .entertainment-details .main-card-logo {
        width: calc(139/ 1200 * 100vw);
    }
    .entertainment-details .sub-card{
        left: calc(208 / 1200 * 100vw);
        height: calc(449.45 / 1200 * 100vw);
        padding: calc(32 / 1200 * 100vw) 0px calc(30 / 1200 * 100vw) 0px;
        border-radius: calc(24.3756 / 1200 * 100vw);

        top: calc(71 / 1200 * 100vw);
        img{
            width: calc(170 / 1200 * 100vw);
        }
    }
    .entertainment-details .cards-images{
        min-width: calc(530 / 1200 * 100vw);
    }
    .entertainment-details .entertainment-details-header{
        flex-direction: column;
        align-items: center;
    }
    .entertainment-details .entertainment-details-title{
        max-width: 100%;
        text-align: center;
    }
    .entertainment-details .entertainment-details-subtitle{
        text-align: center;
    }
    .entertainment-details .entertainment-details-descr p{
        max-width: 100%;
        text-align: center;
    }

///special-events
    .special-events .card-title{
        font-size: 40px;
        line-height: 1.2;
    }
    .special-events .card-descr{
        font-size: 20px;
        line-height: 1.2;
    }
    .special-events .card-header{
        padding: 0px 18px 0px 69px;
        font-size: 17px;
    }
///events
    .events .events-wrapper .events-descr{
        max-width: 300px;
    }
    .events .events-wrapper .events-item:nth-child(2) .card {
        margin-top: 285px;
    }

    .events-info .events-info-item:nth-child(even) .item-info{
        width: 400px;
        padding: 0px 90px 0px 30px;
    }
    .events-info .events-info-item:nth-child(odd) .item-info{
        width: 400px;
        padding: 0px 30px 0px 90px;
    }
    .events-info .item-info-title{
        font-size: 27px;
    }

    .events-info .main-content-item > img{
        object-fit: cover;
        width: 73%;
    }
    ////////////
    .rooms-carousel-item{
        padding: 0px 409px 100px 73px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .rooms-carousel-title{
        font-size: 74px;
        line-height: 74px;
    }
    .rooms-carousel-subtitle{
        margin-bottom: 50px;
    }
///////
    .eat-drink .menu-carousel-item{
        width: 420px;
    }
    .eat-drink .item-title{
        font-size: 40px;
        line-height: 48px;
    }
    .eat-drink .item-descr{
        font-size: 16px;
        line-height: 20px;
    }
    .eat-drink .menu-overlay{
        -webkit-clip-path: polygon(calc(50% - 80px) 0, 50% 50px, calc(50% + 80px) 0, 100% 0, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(calc(50% - 80px) 0, 50% 50px, calc(50% + 80px) 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    
//////
    .reviews .card{
        width: 760px;
        padding: 60px 80px;
    }
    .reviews .reviews-carousel{
        height: 650px;
    }
    .reviews .back-quotes{
        transform: translateX(-350px);
    }
/////
    .booking-event .container{
        flex-direction: column;
        padding: 0px 16px;
    }
    .booking-event .delimiter{
        flex-direction: row;
        margin: 48px auto;
    }
    .booking-event .delimiter-line{
        height: 1px;
        width: 110px;
    }
    .booking-event .delimiter-text{
        margin: 0px 10px;
    }
    .booking-event .plan-title, .booking-event .help-title{
        margin-bottom: 24px;
        text-align: center;
    }

    .booking-event .help-description{
        margin-bottom: 24px;
        text-align: center;
    }


    .gift-card .container .content-wrap{
        display: none;
    }
    .gift-card .container .content-wrap-mobile{
        display: block;
    }

    .gift-card .gift-card_padding{
        height: 190px;
    }

    ///footer
    .footer .registration{
        flex-direction: column;
    }

    .footer .footer-main{
        grid-template-columns: repeat(3, 1fr);
        padding-right: 0px;
        row-gap: 40px;
    }

    .footer .footer-bottom{
        flex-direction: column;
        align-items: center;
    }
    // .button{
    //     font-size: 12px
    // }
    .button-reservation{
        padding: 0 18px;
        height: 38px;
        font-size: 12px
    }
    .button-booking, .button-help_email{
        max-width: 375px;
        width: 100%;
    }

    
}

@media(max-width: 991px){
    ///header
    .header .header-wrap{
        display: none;
    }
    .header .header-mobile{
        display: block;
    }

        ///hero
    .hero .hero-wrap{
        margin-top: 80px;
    }
    .hero-play .hero-play-wrap{
        margin-top: 60px;
    }

    .hero-event .hero-event-bg{
        margin-top: 60px;
    }

    ///////////
    .hero-menu .hero-menu-bg{
        margin-top: 60px;
    }
    
    ///entertainments 
    
    .entertainments .header-wrap{
        display: block;
        padding: 0 50px;
    }
    .entertainments .entertainments-header{
        max-width: 100%;
        margin-right: 0px;
        text-align: center;
    }

    .entertainments .entertainments-subheader{
        margin: 0 auto 30px;
        text-align: center;
        max-width: 612px;
    }

    .entertainments .button-reservation{
        // display: block;
        margin: 0 auto;
    }
    .entertainments .subheader-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entertainments .carousel{
        padding: 45px 0px;
    }
    .entertainments .carousel-list .slick-list{
        padding-left: 20px;
    }

    .entertainments .carousel-ellipse{
        width: 112%;
        height: 73px;
        left: 50%;
        transform: translateX(-50%);
    }

    .entertainments .carousel-item{
        height: 384px;
        &>span{
            font-size: 20px;
            left: 30px;
            bottom: 50px;
        }
    }
    .entertainments .descr-container{
        padding: 50px 50px 50px 25px;
        .description{
            font-size: 12px;
            line-height: 16px;
        }
        .title{
            font-size: 40px;
            line-height: 50px;
            margin-top: 8px;
        }
        a{
            font-size: 13px;
            line-height: 18px;
            margin-top: 8px;
        }
    }
////////////////entertainment-details
    .entertainment-details .entertainment-details-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    #card-arcade, #card-bumper_cars, #card-ropes_course{
        justify-self: end;
    }
    #card-bowling, #card-kart_racing, #card-sports_simulators{
        justify-self: start;
    }

    #info-apex_kids{
        grid-area: 2/1/3/3;
    }
    #info-arcade{
        grid-area: 2/1/3/3;
        border-radius: 20px 0px 20px 20px;
    }
    #info-bowling{
        border-radius: 0px 20px 20px 20px;
        grid-area: 3/1/4/3;
    }
    #info-bumper_cars{
        border-radius: 20px 0px 20px 20px;
        grid-area: 3/1/4/3;
    }
    #info-kart_racing{
        border-radius: 0px 20px 20px 20px;
        grid-area: 4/1/5/3;
    }
    #info-laser_tag{
        grid-area: 4/1/5/3;
    }
    #info-mini_golf{
        grid-area: 5/1/6/3;
    }
    #info-ropes_course{
        border-radius: 20px 0px 20px 20px;
        grid-area: 5/1/6/3;
    }
    #info-sports_simulators{
        border-radius: 0px 20px 20px 20px;
        grid-area: 6/1/7/3;
    }
    .entertainment-details .card-info{
        padding: 60px 40px 20px;
    }
    .entertainment-details .card-info-main{
        margin-top: 30px;
    }
    .entertainment-details .header-title{
        font-size: 42px;
    }
    .entertainment-details .header-descr{
        font-size: 16px;
        line-height: 24px;
    }
    .entertainment-details .header-descr-wrap{
        margin-top: 20px;
    }
    .entertainment-details .main-title{
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 8px;
    }
    .entertainment-details .main-description{
        font-size: 14px;
        line-height: 20px;
    }
    .entertainment-details .main-description-top{
        margin-bottom: 10px;
    }
    .entertainment-details .main-description-list{
        margin-bottom: 10px;
    }
    .entertainment-details .main-description-bottom {
        margin-bottom: 10px;
    }
    .entertainment-details .card-info-main-img{
        min-width: 340px;
        height: 360px;
    }
    .entertainment-details .footer-description{
        padding-top: 50px;
    }
    .entertainment-details .footer-description-title{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .entertainment-details .footer-description p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .entertainment-details .footer-description i{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .entertainment-details .entertainment-details-header{
        margin-bottom: 50px;
        grid-gap: 16px;
    }
    .entertainment-details .card-descr{
        font-size: 15px;
        line-height: 24px;
    }
    .entertainment-details .entertainment-details-cards{
        row-gap: 50px;
    }
    .entertainment-details .card-info{
        margin-top: -50px;
    }

    ////events
    .events .events-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .events .events-wrapper .events-item:nth-child(2) .card {
        margin-top: 40px;
        
    }
    .events .events-wrapper .events-item:nth-child(2) {
        grid-area: 3/2/4/3;
    }

    .events .events-wrapper .events-item:nth-child(4) {
        margin-top: 270px;
        grid-area: 2/1/5/2;
    }

    ////events-info
    .events-info .events-info-item+.events-info-item {
        margin-top: 70px;
    }
    .events-info .events-info-header{
        flex-direction: column;
        align-items: center;
    }
    .events-info .header-events-info{
        max-width: 100%;
    }
    
    .events-info .header-title{
        text-align: center;
        br{
            display: none;
        }
    }
    .events-info .header-descr{
        text-align: center;
    }
    .events-info .header-event-spaces-link{
        text-align: center;
        margin-bottom: 20px;
    }
    .events-info .header-contact{
        max-width: 100%;
    }
    .events-info .events-info-item .main-content-item .item-info{
        width: 340px;
    }

    .events-info .main-content-item{
        height: 300px;
    }
    
    .events-info .item-info-title {
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 30px;
    }
    .events-info .item-info-descr{
        font-size: 16px;
        line-height: 22px;
    }
    .events-info .item-info-link{
        font-size: 16px;
    }

    .events-info .details-container{
        padding: 30px 30px 56px;
    }
    .events-info .details-contact{
        max-width: 260px;
    }
    .events-info .details-contact .header-contact-divider::before, .events-info .details-contact .header-contact-divider::after{
        width: 120px;
    }
    ///////room carousel
    .rooms-carousel-item{
        padding: 50px 300px 120px 50px;
    }
    .rooms-carousel-subtitle {
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 30px;
    }
    .rooms-carousel-title {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    /////////// eat-drink
    .eat-drink .menu-carousel{
        margin-top: -40px;
        -webkit-clip-path: polygon(0 4.6%, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 4.6%, 100% 0, 100% 100%, 0% 100%);
    }
    .eat-drink .menu-carousel-item {
        width: 313px;
    }
    .eat-drink .item-content{
        padding: 86px 22px;
    }
    .eat-drink .item-title {
        font-size: 31px;
        line-height: 37px;
    }
    .eat-drink .item-descr {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    .eat-drink .hidden-content{
        margin-top: 12px;
    }
    .eat-drink .item-starting_at{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    .eat-drink .item-price{
        font-size: 24px;
        line-height: 24px;
    }
    .eat-drink .menu-list{
        column-gap: 32px;
    }
    .eat-drink .menu-container{
        padding: 28px 10px 60px;
    }
    .eat-drink .menu-item-name{
        font-size: 18px;
        line-height: 24px;
        margin-right: 12px;
    }
    .eat-drink .menu-item-price{
        font-size: 16px;
        line-height: 20px;
    }
    .eat-drink .menu-item-description{
        font-size: 14px;
        line-height: 20px;
    }
    .eat-drink .menu-overlay{
        height: 60px;
        top: -59px;
        -webkit-clip-path: polygon(calc(50% - 68px) 0, 50% 38px, calc(50% + 68px) 0, 100% 0, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(calc(50% - 68px) 0, 50% 38px, calc(50% + 68px) 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    ///special-events
    .special-events .special-events-wrap{
        display: none;
    }

    .special-events .special-events-mobile-wrap{
        display: block;
    }

    //footer
    .footer{
        background-color: #120550;
    }
    ///modal
    .book-modal{
        width: 600px;
    }
}

@media(max-width: 768px){
    ///hero
    .hero .hero-wrap{
        margin-top: 100px;
    }
    .hero-play .hero-play-wrap{
        margin-top: 90px;
    }
   
    .hero-triangle{
        -webkit-clip-path: polygon(0 0, 100% 95%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 95%, 100% 100%, 0% 100%);
        // -webkit-clip-path: polygon(100% 100%, 0% 0%, 0% 100%);
        // clip-path: polygon(100% 100%, 0% 0%, 0% 100%);
    }   
    .hero-event .hero-triangle{
        height: calc( 40 / 1666 * 100vw);
    }

    .hero-event .hero-event-bg, .hero-menu .hero-menu-bg{
        margin-top: 90px;
    }

    

    //entertainments
    .entertainments .entertainments-header{
        font-size: 34px;
    }

    .entertainments .entertainments-subheader{
        line-height: 1.5;
        font-size: 16px;
    }

    // .entertainments .button{
    //     font-size: 10px
    // }
    // .entertainments .button-reservation{
    //     padding: 0 15px;
    //     // height: 32px;
    // }
    /////entertainment-details
    .entertainment-details .entertainment-details-title{
        font-size: 38px;
        line-height: 50px;
    }
    .entertainment-details .entertainment-details-subtitle{
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .entertainment-details .entertainment-details-descr p{
        font-size: 16px;
        line-height: 20px;
    }
    .entertainment-details .header-descr-wrap{
        flex-direction: column;
        grid-gap: 10px;
    }
    .entertainment-details .header-descr-wrap {
        margin-top: 10px;
    }
    .entertainment-details .header-descr{
        font-size: 14px;
        line-height: 20px;
    }
    .entertainment-details .card-info-main{
        flex-direction: column;
    }
    .entertainment-details .card-info-main {
        margin-top: 15px;
    }
    .entertainment-details .card-info-main-img{
        min-width: auto;
        width: auto;
        max-height: 300px;
    }
    .entertainment-details .card-info-close{
        top: 35px;
        right: 35px;
    }
    .entertainment-details .card-active{
        height: 380px;
    }
    .entertainment-details .card-info-btn{
        padding: 8px 14px;
    }
    .entertainment-details .card-info-btn span{
        font-size: 20px;
        line-height: 26px;
    }
    .entertainment-details .card-descr{
        padding: 25px 20px;
        height: auto;
    }
    .entertainment-details .card-descr{
        font-size: 14px;
        line-height: 22px;
    }
    .entertainment-details .entertainment-details-header{
        margin-bottom: 30px;
    }
    .entertainment-details .card-info-footer{
        flex-direction: column;
    }
    .entertainment-details .footer-description{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .button-balance{
        width: 100%;
        max-width: 375px;
    }
    .entertainment-details .cards-images{
        display: none;
    }

    //events 
    .events .wrapper{
        padding: 64px 16px;
    }

    .special-events-mobile-wrap .card-wrap{
        padding: 51px 30px 60px 30px;
        height: auto;
    }
///////////events-info
    .events-info .events-info-item+.events-info-item {
        margin-top: 50px;
    }
    .events-info .main-content-item{
        height: 220px;
    }
    .events-info .events-info-item .main-content-item .item-info{
        width: 300px;
    }
    .events-info .events-info-item:nth-child(odd) .item-info{
        padding: 0px 20px 0px 70px;
    }
    .events-info .events-info-item:nth-child(even) .item-info{
        padding: 0px 70px 0px 20px;
    }
    .events-info .item-info-title {
        font-size: 20px;
        margin-bottom: 6px;
        line-height: 24px;
    }
    .events-info .item-info-descr {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .events-info .item-info-link {
        font-size: 14px;
    }
    .events-info .details-wrap{
        flex-direction: column;
        align-items: center;
    }
    .events-info .details-contact{
        max-width: 100%;
    }
    .events-info .details-contact .header-contact-divider::before, .events-info .details-contact .header-contact-divider::after{
        width: 190px;
    }
    /// rooms-carousel
    .rooms-carousel-wrapper .slick-arrow{
        width: 50px;
    }
    .rooms-carousel-wrapper .slide-dots{
        width: calc(100% - 100px);
    }
    .rooms-carousel-item{
        padding: 50px 150px 120px 50px;
    }
    .rooms-carousel-subtitle{
        font-size: 24px;
    }
    .rooms-carousel-title{
        font-size: 50px;
        line-height: 50px;
    }
    .rooms-carousel-descr{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .rooms-carousel-more_details{
        font-size: 18px;
        line-height: 22px;
    }
    ///////eat-drink
    .eat-drink .menu-carousel{
        margin-top: -20px;
        -webkit-clip-path: polygon(0 0, 100% 2%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 2%, 100% 100%, 0% 100%);
    }

    .eat-drink .menu-container{
        padding: 28px 26px 60px;
    }
    .eat-drink .menu-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .eat-drink .menu-item-name, .eat-drink .menu-item-price{
        font-size: 24px;
        line-height: 32px;
    }
    .eat-drink .menu-item-header{
        margin-bottom: 11px;
    }
    .eat-drink .menu-item-description{
        font-size: 18.5201px;
        line-height: 32px;
    }

    ///reviews
    .reviews .card{
        width: 570px;
        padding: 40px 60px;
    }
    .reviews .card .card-text{
        font-size: 20px;
    }
    // .reviews .card-left .card-text{
    //     font-size: 24px;
    // }
    .reviews .back-quotes{
        transform: translateX(-250px);
    }
    ///gift-card
    .gift-card .card-main{
        padding: 50px 0px;
        width: 260px;
    }
    .gift-card .card-main .card-image{
        width: 120px;
    }
    .gift-card .card-main .card-title{
        font-size: 54px;
    }
    .gift-card .card-main .card-main-logo{
        width: 140px;
    }

    .gift-card .card-sub_card{
        width: 260px;
        border-radius: 20px;
    }
    .gift-card .card-sub_card .card-image{
        height: 330px;
    }
    .gift-card .container .content-wrap-mobile .card-main{
        left: -15%;
    }
    .gift-card .container .content-wrap-mobile .cards{
        height: 380px;
    }

    //footer
    .footer .footer-main{
        column-gap: 16px;
    }
    .footer .container{
        padding: 64px 40px;
    }
    .footer .footer-main-item ul>.list-item{
        font-size: 14px;
    }
    .footer .footer-main-item > ul{
        row-gap: 5px;
    }

    ///modal
    .modal .container{
        width: 100%;
        height: 100%;
    }
    .book-modal{
        width: 100%;
        min-height: 100%;
        border-radius: 0px;
        border-top: none;
    }
    .location-modal{
        width: 100%;
        min-height: 100%;
        border-radius: 0px;
    }
}

@media (max-width: 575px){
    //hero
    .hero .bg-banner{
        background-image: url(../images/bg-mobile.png);
        aspect-ratio: 377/388;
    }
    .hero .hero-title-overlay{
        font-size: calc(30 / 375 * 100vw);
        right: calc(10 / 375 * 100vw);
        bottom: calc(76 / 375 * 100vw);
        line-height: calc(90 / 375 * 100vw);
    }
    .hero .sub-title{
        font-size: calc(16 / 375 * 100vw);
        left: calc(18 / 375 * 100vw);
        bottom: calc(60 / 375 * 100vw);
        line-height: calc(24 / 375 * 100vw);
    }
    .hero .bg-video{
        top: calc(110 / 575 * 100vw);
    }

    .hero-play .bg-banner{
        background-image: url(../images/play-mobile-bg.png);
        aspect-ratio: 377/521;
        padding: calc(88 / 375 * 100vw) calc(20 / 375 * 100vw);
    }
    
    .hero-play .divider{
        display: none;
    }
    .hero-play .content{
        flex-direction: column;
        
    }
    .hero-play .main-content{
        max-width: 100%;
        font-size: calc(24 / 375 * 100vw);
        line-height: calc(32 / 375 * 100vw);
        margin-right: 0px;
    }
    .hero-play .sub-content{
        max-width: 100%;
        font-size: calc(16 / 375 * 100vw);
        line-height: calc(26 / 375 * 100vw);
        margin-left: 0px;
        margin-top: calc(10 /375 * 100vw);
        span{
            font-size: calc(16 / 375 * 100vw);
            line-height: calc(26 / 375 * 100vw);
            font-weight: 400;
        }
    }
    .hero-menu .hero-menu-bg{
        background-image: url('../images/bg/menu-bg-mobile.png');
        aspect-ratio: 375/521;
        padding: calc(73 / 375 * 100vw) calc(20 / 375 * 100vw);
    }
    .hero-menu .hero-menu-subtitle{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        span{
            font-weight: 700;
        }
    }

    .hero-event .hero-event-bg{
        background-image: url('../images/events-page/bg-mobile.png');
        aspect-ratio: 375/289;
        padding: calc(80 / 375 * 100vw) 0px 0px calc(26 / 375 * 100vw);
    }
    .hero-event .hero-event-location{
        font-size: calc(9 / 375 * 100vw);
        line-height: calc(12 / 375 * 100vw);
        color: #FFFFFF;
    }
    //entertainments
    .entertainments .header-wrap{
        padding: 0px 15px 0px 17px;
        
    }
    

    .entertainments .button-reservation{
        max-width: 375px;
        font-size: 14px;
        height: 42px;
        width: 100%;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 5px;
        &>img{
            display: none;
        }
    }
    .entertainments .carousel-item{
        height: 293px;
        &>span{
            font-size: 16px;
            left: 20px;
            bottom: 40px;
        }
    }
    .entertainments .carousel-list .slick-list{
        padding-left: 10px;
    }
    .entertainments .carousel-item>img{
        border-radius: 11.3px;
    }
    .entertainments .carousel-item+.carousel-item{
        margin-left: 21px;
    }
    .entertainments .drop-wrap{
        max-width: 375px;
        width: 100%;
    }

    .entertainments .descr-container{
        padding: 35px 35px 35px 19px;
        .description{
            font-size: 10px;
            line-height: 14px;
        }
        .title{
            font-size: 32px;
            line-height: 40px;
            margin-top: 6px;
        }
        a{
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            margin-top: 9px;
            display: flex;
            img{
                display: inline;
            }
        }
    }
    ///entertainment-details
    .entertainment-details{
        padding-top: 50px;
    }
    .entertainment-details .container{
        display: none;
    }
    .entertainment-details .container-mobile{
        display: block;
    }

    /////events
    .events .events-wrapper{
        display: none;
    }
    .events .events-mobile{
        display: block;
    }

    .events .button-events{
        // display: block;
        // margin: 0 auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        max-width: 375px;
        width: 100%;
        height: 48px;
    }
    .events .events-title{
        text-align: center;
    }
    .events .events-descr{
        text-align: center;
        margin: 0 auto;
    }
    /// events-info section
    .events-info{
        margin-top: 34px;
    }
    .events-info .header-title{
        text-align: left;
        padding: 0px;
        br{
            display: block;
        }
    }
    .events-info .header-descr{
        text-align: left;
        span:nth-child(1){
            font-weight: 400;
        }
        span:nth-child(2){
            font-weight: 700;
        }
    }
    .events-info .header-event-spaces-link{
        display: none;
    }
    .events-info .header-contact{
        padding: 32px;
        min-height: 431px;
    }
    .events-info .header-contact-title{
        margin-bottom: 16px;
    }
    .events-info .contact-buttons-group{
        flex-direction: column;
        align-items: center;
    }

    .events-info .events-info-content{
        display: none;
    }
    .events-info .events-info-content-mobile{
        display: block;
    }
    .events-info .container{
        padding: 0px 16px;
    }

    ////rooms-carousel
    .rooms-carousel-wrapper{
        display: none;
    }

    ///////
    .eat-drink .menu-item-header{
        flex-direction: column;
        align-items: start;
    }
    .eat-drink .menu-overlay{
        height: 45px;
        top: -44px;
    }
    /// special-events

    .special-events{
        padding-top: 0px;
    }
    .special-events-mobile-wrap .card-wrap{
        padding:36px 20px 32px 16px;
        height: auto;
    }

    .special-events-mobile-wrap .card-title{
        font-size: 32px;
        margin-bottom: 16px;
    } 
    .special-events-mobile-wrap .card-header{
        padding: 0px 30px;
    }

    .special-events-mobile-wrap .slider{
        display: none;
    }

    .special-events .special-events-mobile-wrap .slider-control{
        left: 50%;
        transform: translateX(-50%);
        top: auto;
        bottom: -80px;
    }
    .special-events-mobile-wrap .card-descr{
        font-size: 16px;
    }

    .special-events-mobile-wrap .card-details{
        font-size: 14px;
        display: flex;
        justify-content: right;
        img{
            margin-left: 4px;
        }
    }
    /////
    .gift-card .card-main{
        width: 174px;
        padding: 38px 0px;
        border-radius: 10px;
    }
    .gift-card .card-main .card-title{
        margin-top: 12px;
        font-size: 36px;
        line-height: 25px;
    }
    .gift-card .card-main .card-image {
        width: 88px;
    }
    .gift-card .card-main .card-main-logo {
        margin-top: 28px;
        width: 90px;
    }

    .gift-card .card-sub_card{
        padding: 26px 0px 20px;
        border-radius: 16px;
        width: 175px;
    }
    .gift-card .card-sub_card .card-image {
        height: 245px;
    }

    .gift-card .container .content-wrap-mobile .cards{
        width: 190px;
        height: 190px;
    }
    .gift-card .container .content-wrap-mobile .gift-card-buttons_group{
        display: block;
    }

    .content-wrap-mobile .button-gift{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 375px;
        width: 100%;
    }
    .content-wrap-mobile .button-gift-card{
        margin-bottom: 15px;
    }
    .content-wrap-mobile .button-check-balance{
        margin-bottom: 40px;
    }
    ////reviews
    .reviews .reviews-carousel-mobile{
        display: block;
    }
    .reviews-carousel{
        display: none;
    }
    .reviews .back-quotes{
        top: 5px;
        transform: translateX(-120px);
        &>img{
            height: 45px;
        }
    }
    // .reviews .card{
    //     min-height: 400px;
    // }
    // .reviews .card .card-text{
    //     font-size: 16px;
    //     line-height: 24px;
    // }
    .gift-card .container .content-wrap-mobile .content{
        padding: 0px 19px;
    }
    .gift-card .container .content-wrap-mobile .gift-card-description {
        margin-bottom: 15px;
    }
    ////footer 
    .footer .container{
        padding: 64px 16px 36px;
    }
    .footer .registration-title{
        font-size: 24px;
        letter-spacing: -0.02em;
        line-height: 32px;
    }
    .footer .footer-main{
        display: none;
    }
    .footer .footer-main-mobile{
        display: grid;
    }
    .footer .registration{
        grid-gap: 40px;
    }
    .footer .registration-form{
        flex-direction: column;
    }
    .footer .registration-input{
        margin-right: 0px;
        max-width: 440px;
        width: 100%;
        margin-bottom: 16px;
    }
    .button.registration-button{
        max-width: 440px;
        width: 100%;
        border-radius: 8px;
    }
    .footer .footer-bottom .logo-wrapper{
        flex-direction: column;
        margin-bottom: 24px;
    }
    .footer .footer-logo{
        margin-right: 0px;
        margin-bottom: 24px;
    }
    .footer .footer-year{
        text-align: center;
    }
    /////modal
    
    .book-modal .book-modal_form{
        display: block;
    }
    .book-modal input{
        max-width: 100%;
        margin-bottom: 16px;
        font-size: 14px;
        height: 36px;
    }
    .book-modal label{
        margin-bottom: 4px;
    }
    .book-modal .help{
        margin-top: 4px;
        margin-bottom: 16px;
    }
    .book-modal .submit{
        width: 100%;
    }
    .book-modal .book-modal_title{
        font-size: 36px;
        margin-bottom: 20px;
        line-height: 1;
    }
    .book-modal .book-modal_location{
        font-size: 12px;
    }
    .book-modal .description{
        font-size: 14px;
        height: 160px;
    }
    .book-modal label{
        font-size: 12px;
    }

    .location-modal .location-modal-title{
        font-size: 34px;
    }
    .location-modal .location-item .place, .location-modal .location-item .address{
        font-size: 12px;
    }
    // .button-reservation img {
    //     margin-left: 4px;
    // }
    // .button-reservation {
    //     padding: 0 10px;
    //     height: 26px;
    //     font-size: 8px;
    // }
}

@media(max-width: 440px){
    //hero
    
    //
    .entertainments .entertainments-header{
        font-size: 32px;
        text-align: left;
    }

    .entertainments .entertainments-subheader{
        font-size: 16px;
        text-align: left;
    }

    .events .events-title{
        text-align: left;
    }
    .events .events-descr{
        text-align: left;
        margin: 0;
    }

    .special-events .special-events-mobile-wrap .slider{
        height: 385px;
    }
    .book-modal{
        padding: 60px 22px 60px;
    }
    .book-modal .submit{
        height: 40px;
    }
    .book-modal .description{
        height: 130px;
    }
    .book-modal .book-modal_title{
        font-size: 30px;
    }
    .book-modal input{
        margin-bottom: 14px;
    }
    .location-modal{
        padding: 40px 16px 30px;
    }
    .location-modal .location-modal-title{
        font-size: 32px;
    }
    .location-modal .location-item .place, .location-modal .location-item .address{
        font-size: 11px;
    }
    .location-modal .location-item{
        height: 40px;
        padding: 10px 8px;
    }
    .location-modal .location-item strong{
        margin-left: 4px;
    }
}

