body{
    background-color: #120550;
    position: relative;
    font-family: 'Gotham', sans-serif;
    color: #fff;
    // overflow-y: overlay;
    // min-width: 100%;
}

.hidden{
    overflow: hidden;
}

.btn-hover:hover{
    background: linear-gradient(180deg, #FC6F2E 0%, #EC2379 77.4%) !important;
    border: none;
}

.button{
    background-color: #FC6F2E;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px 0px;
    height: 48px;
    text-transform: uppercase;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &-reservation{
        padding: 0 24px;
        img{
            margin-left: 8px;
            transition: all 0.3s ease;
        }
    }
    &-reservation:hover img{
        transform: rotate(180deg);
    }
    &-events{
        padding: 0 39px;
        position: relative;
    }
    &-booking{
        padding: 12px 24px;
    }
    &-help_email{
        padding: 12px 24px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(8px);
    }
    &-gift{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        img{
            margin-right: 6px;
        }
        input{
            width: 20px;
            margin-left: 4px;
        }
    }
    &-gift-card{
        height: 48px;
        background: #120550;
        padding: 12px 24px;
        margin-right: 16px;
        svg{
            margin-right: 6px;
        }
        
    }
    &-gift-card:hover{
        path{
            stroke: white;
        }
    }
    &-check-balance{
        padding: 12px 24px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(8px);
    }
    &.registration-button{
        // margin-left: 16px;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 12px 24px;
    }
    &-card-info-book{
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        padding: 12px 24px;
        margin-top: 5px;
        min-width: 161.5px;
    }
    &-balance{
        padding: 12px 24px;
    }
    &-restrictions{
        padding: 12px 24px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        min-width: 268px;
    }
}

a.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
a.button:hover{
    text-decoration: none;
    color: white;
    
}
a.button-restrictions{
    display: none;
}

.drop-list{
    opacity: 0;
    transition: all ease .3s;
    position: absolute;
    padding: 12px;
    background: #fff;
    border: 1px solid #e4e4e7;
    box-shadow: 0px 12px 16px -4px rgba(16,24,40,.08), 0px 4px 6px -2px rgba(16,24,40,.03);
    border-radius: 12px;
    margin: 0;
    pointer-events: none;
    list-style-type: none;
    z-index: 20;
}
.drop-list li {
    padding: 8px 12px;
    border-bottom: 0.5px solid #c3c2c1;
    cursor: pointer;
}
.drop-list li:hover {
    background-color: rgba(0,0,0,.1);
}
.drop-list li+li{
    margin-top: 8px;
}
.drop-list a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #18181b;
}
.drop-wrap{
    display: inline-block;
    cursor: pointer;
}
.drop-wrap:hover .drop-list{
    opacity: 1;
    pointer-events: visible;
}


@import 'blocks/header'; 
@import 'blocks/hero';
@import 'blocks/hero-play';
@import 'blocks/entertainments';
@import 'blocks/entertainment-details';
@import 'blocks/events';
@import 'blocks/special-events';
@import 'blocks/reviews';
@import 'blocks/booking-event';
@import 'blocks/gift-card';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'media';