.events{
    position: relative;
    overflow: hidden;
    
    .wrapper{
        max-width: 1320px;
        position: relative;
        padding: 103px 40px 154px 40px;
        margin: 0 auto;
    }
    .events-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 174px;
        column-gap: 32px;
        position: relative;
        z-index: 5;
        .events-item:nth-child(1){
            grid-area: 1/1/2/3;
            
        }
        .events-item:nth-child(2){
            grid-area: 2/1/3/2;
            .card{
                margin-top: 248px;
            }
        }
        .events-item:nth-child(3){
            .card-link:nth-child(1){
                margin-top: 40px;
            }
            grid-area: 2/2/3/3;
        }
        .events-item:nth-child(4){
            grid-area: 1/3/4/4;
        }
        .events-title{
            font-weight: 700;
            font-size: 52px;
            line-height: 64px;
            margin-bottom: 46px;
        }
        .events-descr{
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            max-width: 330px;
            margin-bottom: 40px;
            span{
                font-weight: 700;
            }
        }
        .card-link{
            color: #FFFFFF;
            text-decoration: none;
            display: block;
            position: relative;
            max-width: 392px;
            min-height: 292px;
        }
        
        .card{
            max-width: 392px;
            min-height: 292px;
            position: relative;
            border: 0.5px solid #FFFFFF;
            border-radius: 30px 0px;
            padding: 30px 26px 24px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .card-link + .card-link{
            display: block;
            margin-top: 48px;
        }
        .card-star{
            margin-bottom: 32px;
        }
        .card-title{
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 8px;
        }
        .card-description{
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            // margin-bottom: 44px;
        }
        .card-details{
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            img{
                margin-left: 4px;
            }
        }
    }
    .background{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 30px 0px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .pink{
        background: linear-gradient(153.73deg, #FB2AFC 28.81%, #8A37DE 132.59%);
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    }
    .green{
        background: linear-gradient(152.89deg, #B3E42E 5.02%, #769E08 127.65%);
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    }
    .violet{
        background: linear-gradient(90deg, #8A37DE 0%, #B542EF 100%);
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    }
    .blue{
        background: linear-gradient(160.72deg, #43BCFA 16.72%, #528BFF 87.04%);
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    }
    .card-link:hover{
        .background{
            opacity: 1;
        }
        .card{
            border: none;
        }
    }
    .events-mobile{
        display: none;
        position: relative;
        z-index: 5;
        .events-title{
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -0.02em;
            margin-bottom: 24px;
        }
        .events-descr{
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            max-width: 330px;
            margin-bottom: 24px;
            span{
                font-weight: 700;
            }
        }
        .events-mobile-list{
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 88px;
            width: 103%;
            // display: flex;
            .slick-track{
                display: flex;
                // grid-gap: 21px;
            }
            .slick-list{
                overflow: hidden;
            }
        }
        .events-mobile-item + .events-mobile-item{
            margin-left: 21px;
        }
        .card-link{
            width: 280px;
            height: 320px;
            display: block;
            position: relative;
            color: #FFFFFF;
            text-decoration: none;
        }
        .card{
            width: 100%;
            height: 100%;
            position: relative;
            border: 1px solid #FFFFFF;
            border-radius: 30px 0px;
            padding: 30px 16px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .card-title{
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            margin-top: 30px;
            margin-bottom: 8px;
        }
        .card-description{
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
        }
        .card-details{
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            display: flex;
            justify-content: flex-end;
            img{
                margin-left: 4px;
            }
        }
    }
    .events-grad_big{
        position: absolute;
        width: 1440px;
        height: 1440px;
        left: 569px;
        top: 0px;
        background: #43BCFA;
        filter: blur(303px);
    }
    .events-grad_little{
        position: absolute;
        width: 581px;
        height: 581px;
        left: 26px;
        top: 471px;
        background: #43BCFA;
        filter: blur(303px);
    }
    .events-rect-top{
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 0px;
        height: 530px;
        width: 100%;
        background: linear-gradient(180deg, rgba(14, 14, 44, 0) 0%, #120550 100%);
        transform: rotate(-180deg);
    }
    .events-rect-bottom{
        z-index: 1;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 632px;
        width: 100%;
        background: linear-gradient(180deg, rgba(14, 14, 44, 0) 0%, #120550 100%);
    }
}