.modal{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(0, 0, 0, .4);
    .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
    }
    .close-modal{
        position: absolute;
        height: 24px;
        top: 40px;
        right: 30px;
        cursor: pointer;
    }
}

.book-modal{
    display: none;
    position: relative;
    width: 748px;
    background: #FFFFFF;
    border-top: 10px solid #FC6F2E;
    border-radius: 0px 0px 20px 20px;
    padding: 96px 48px 64px;
    .book-modal_location{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #120550;
    }
    .book-modal_title{
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.02em;
        color: #120550;
        margin-bottom: 32px;
    }
    .book-modal_form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        row-gap: 16px;
    }
    input{
        background: #FFFFFF;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        padding: 10px 14px;
        max-width: 318px;
        width: 100%;
        height: 44px;
    }
    label{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #344054;
        display: block;
        margin-bottom: -8px;
    }
    .description{
        background: #FFFFFF;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        width: 100%;
        height: 206px;
        resize: none;
        padding: 10px 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #101828;
        grid-area: 5/1/6/3;
        overflow: hidden;
        margin-bottom: -10px;
    }
    .submit{
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        height: 48px;
        background: #FC6F2E;
        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
        border-radius: 8px 0px;
        text-transform: uppercase;
        grid-area: 7/1/8/3;
        border: none;
        color: #FFFFFF;
    }
    input:focus, textarea:focus{
        outline: rgb(0,0,0);
    }
    .help{
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #475467;
        grid-area: 6/1/7/3;
        margin-bottom: 28px;
    }
    .phone{
        grid-area: 2/2/3/3;
    }
}

.location-modal{
    padding: 48px 24px 53px;
    display: none;
    height: 651px;
    width: 514px;
    // max-height: 651px;
    // max-width: 514px;
    background: linear-gradient(150.88deg, #528BFF 1.43%, #3F56FF 121.19%);
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 12px;
    .location-modal-header{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 20px;
    }
    .logo-wrapper{
        position: relative;
    }
    .logo-front{
        position: relative;
        z-index: 1;
        width: 56px;
        height: 56px;
        background: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(8px);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .back-logo{
        position: absolute;
        width: 56px;
        height: 56px;
        left: 10px;
        top: -10px;
        background: #FC6F2E;
        border-radius: 12px;
        transform: rotate(15deg);
    }
    .location-modal-title{
        font-family: 'Criteria CF', sans-serif;;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .location-modal-subtitle{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-bottom: 42px;
    }
    .location-list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 36px;
    }
    .location-item{
        padding: 16px;
        height: 52px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        border-radius: 12px;
        cursor: pointer;
        label{
            display: flex;
            cursor: pointer;
        }
        .place{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }
        .address{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            margin: 0 0 0 auto;
        }
        input{
            margin-left: 8px;
            position: relative;
            width: 16px;
            height: 16px;
            outline: none;
            margin-top: 2px;
            cursor: pointer;
            border: 1px solid #D0D5DD;
            border-radius: 8px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: #fff;
        }
        strong{
            margin-left: 9px;
        }
    }
    .checked{
        background: #FFFFFF;
        border: 1px solid #120550;
        .place, .address{
            color: #120550;
        }
        input{
            background-color: #120550;
            border: 1px solid #7F56D9;
        }
        input:before{
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-image: url(../images/icons/check-mark.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .location-item + .location-item{
        margin-top: 12px;
    }
    .location-btn{
        height: 40px;
        top: 510px;
        background: linear-gradient(100.19deg, #FC6F2E 42.36%, #E84927 106.98%);
        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
        border-radius: 5px;
        border: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 100%;
        cursor: pointer;
    }

    .location-btn:focus{
        outline: none;
        
    }
    
    .close-modal{
        height: auto;
        top: -22px;
        right: -6px;
        transition: all 0.3s ease;
        border-radius: 10px;
    }
    .close-modal:hover{
        background-color: white;
        path{
            transition: stroke 0.3s ease;
            stroke: black;
        }
    }
}